.update{
  width:50%;
  margin:0 auto;
  border: 1px solid #000;
  box-shadow: 0px 0px 10px #185dd6;
  border-radius: 15px;
  padding: 40px;
  margin-top:2%;
  text-align: center;
}
#s{
  margin-bottom:20px;
  font-size:18px;
}
#f{
  margin-bottom:20px;
  font-size:18px;
}
#l{
  margin-bottom:20px;
  font-size:18px;
}
.first{
  font-size:20px;
}
.last{
  font-size:20px;
}
.shop{
  font-size:20px;
}
.txt{
  font-size:20px;
  margin-bottom:5%;
}
.sub{
  width:50%;
  margin:0 auto;
  margin-top:10%;
}
.ex{
  width:20%;
  margin:0 auto;
  margin-top:4%;
}
#su{
  font-size:20px;
  width:100%;
}
#su:hover{
  background-color: #185dd6;
  color: #fff;
}
#e{
  font-size:20px;
  width:100%;
   height:40px;
}
#e:hover{
  background-color:#e74c3c;
  color: #fff;
}
.upd{
  font-size: 20px;
}
#upda{
  font-size: 18px;
}
#new{
  font-size:18px;
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .update{
    min-width: 220px;
  }
  #f{
    font-size: 15px;
  }
  #l{
    font-size: 15px;
  }
  #s{
    font-size: 15px;
  }
  #new{
    font-size: 15px;
    width:230px;
    margin-top: 5px;
  }
  .txt{
    font-size: 20px;
  }
  .first{
    margin-top: 20px;
  }
  .ex{
    width: 90%;
    margin-top: 25px;
  }
  .sub{
    width: 90%;
  }
}
